@import '../Root/style/variables';
@import '../Root/style/mixins';

$Hero: '.Hero';

#{$Hero} {
    @include blockPaddingHorizontal;
    @include blockPaddingVertical;

    position: relative;
    background-color: map-get($colors, persimmon);
    overflow: hidden;

    &__wrapper {
        @include container;

        position: relative;
        z-index: 1;
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__data {
        width: span(7);
        padding-bottom: 72px;

        @include respond-to('increased') {
            width: 100%;
            padding-bottom: 62px;
        }

        @include respond-to('prebig') {
            padding-bottom: 40px;
        }
    }

    &__graphics {
        position: relative;
        width: span(9);

        @include respond-to('increased') {
            width: 100%;
        }
    }

    &__image {
        position: absolute;
        top: -82px;
        left: -66px;

        @include respond-to('increased') {
            position: relative;
            top: auto;
            left: auto;
            margin-bottom: -64px;
        }

        @include respond-to('prebig') {
            margin-bottom: -30px;
        }

        img {
            max-width: none;
            margin-bottom: 0;

            @include respond-to('increased') {
                max-width: 100%;
            }
        }
    }

    &__title {
        margin-bottom: 15px;

        @include respond-to('increased') {
            text-align: center;
        }

        @include respond-to('prebig') {
            margin-bottom: 8px;
        }

        h1 {
            color: map-get($colors, white);
        }
    }

    &__subtitle {
        margin-bottom: 78px;

        @include respond-to('increased') {
            margin-bottom: 45px;
            text-align: center;
        }

        h5 {
            color: rgba(map-get($colors, white), 0.8);
        }
    }

    &__cta {
        display: flex;

        @include respond-to('increased') {
            justify-content: center;
        }
    }

    &__border {
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;

        svg {
            display: block;
            width: 100%;
        }
    }
}
