@import '../Root/style/variables';
@import '../Root/style/mixins';

$Features: '.Features';

#{$Features} {
    @include blockPaddingHorizontal;
    @include blockPaddingVertical;

    background-color: map-get($colors, white);
    overflow: hidden;

    &__wrapper {
        @include container;
    }

    &__header {
        @include headingGap;

        text-align: center;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    &__graphics {
        position: relative;
        width: span(8);
        height: 624px;

        @include respond-to('increased') {
            width: 100%;
            height: auto;
        }
    }

    &__image {
        position: absolute;
        display: block;
        width: 818px;
        height: 100%;
        top: -15px;
        right: -38px;

        @include respond-to('increased') {
            position: relative;
            width: 100%;
            height: auto;
            top: auto;
            right: auto;
        }
    }

    &__data {
        width: span(7.1);
        padding-top: 30px;

        @include respond-to('increased') {
            width: 100%;
            padding-top: 0;
        }
    }

    &__list,
    &__item {
        @include list-reset;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: span(7);
        margin-bottom: 54px;

        @include respond-to('medium') {
            width: 100%;
            margin-bottom: 30px;

            @include f-last(1) {
                margin-bottom: 0;
            }
        }
    }
}
